@import url(http://fonts.googleapis.com/css?family=Tinos);

body {
    background: #5dace9 url("images/background.gif");
}
h1, h2, h3 {
    font-family: 'Tinos', serif;
}

.banner {
    background-color: #0074cd;
    color: #FFF;
    background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */

}

.banner h1 {
    font-size: 50px;
    line-height: 50px;
    -webkit-text-stroke: 1px black;
}

.logo {
    float: left;
    margin: 20px;
    width: 5%;

}
.main-frame {
    /*background-image: url("images/background2.gif");*/
    background-color: #ADD5F7;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    /*margin-top: -30px;*/
}
.search-box {
    line-height: 65px;
    background-color: #4A9BFD;
    color: midnightblue;
    margin-bottom: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.search-box label {
    font-size: 18pt;
    margin-left: 10px;
}

.episode-list {
    list-style: none;
    margin: 0px;
}

.episode-list h3 {
    margin-top: 0px;
}

.episode-list .ratings {
    line-height: 30px;
    text-align: center;
    background-color: #333;
    color: #FFF;
    margin-top: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.episode-list .fulldate {
    margin: 5px;
}

.episode-list li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: dotted 1px #5dace9;
}

.episode-list li:last-child {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.show-info {
    list-style: none;
    margin: 0px;
    padding: 10px;
    background-color: #FFF;
    color: #333;
    font-size: 16px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.show-info li {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: solid 1px #CCC;
    line-height: 40px;
}

.show-info li:last-child {
    border-bottom: none;
}

.show-info .genre {
    margin-right: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    color: #FFF;
}