<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Use</title>
    <!-- INCLUDE REQUIRED THIRD PARTY LIBRARY JAVASCRIPT AND CSS -->
    <script type="text/javascript" src="../../angular.min.js"></script>
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/bootstrap-responsive.min.css">

    <!-- INCLUDE APPLICATION SPECIFIC CSS AND JAVASCRIPT -->
    <script type="text/javascript" src="../app.js"></script>
    <script type="text/javascript" src="../controllers/mainController.js"></script>
    <link rel="stylesheet" href="../../../css/main.css">
</head>
<body>

<div class='container'>
    <img class="logo" src="../../../css/images/TVLogo.png" />

    <h1>TV Show Premieres Terms and Policies</h1>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-th-list"></span></a>

                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li class="active"><a href="../../../index.html">Home</a> </li>
                        <li><a href="#">About Us</a> </li>
                        <li><a href="contact.html">Contact Us</a> </li>
                        <li><a href="terms.html">Terms and Policies</a> </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>


</body>
</html>